@font-face{
    src: url(fonts/orkney-regular.otf);
    font-family: orkney-reg;
}
@font-face{
    src: url(fonts/orkney-bold.otf);
    font-family: orkney-bold;
}
body{
    font-weight: 400; 
    font-size: 15px;
    font-family: orkney-reg;
    line-height: 24px;
    letter-spacing: .1px; 
    overflow-x: hidden; 
}
.header .navbar{
    width: 100%;
    height: 90.27px;
    float: left;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
}
.header .navbar .navbar-brand{
    padding: 10px 0px 10px 41px;
}
.active{
    border-bottom: 3px solid brown;
}
.header .navbar-nav .nav-item .nav-link:hover{
    border-bottom: 3px solid brown;
    margin: 0px 2px -3px 2px;
}
.header .navbar-nav .nav-item .nav-link{
    display: block;
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2px;
}
.header .navbar .navbar-nav{
    margin-right: 110px;
}
.jumbotron{
    height: 210px;
    margin-top: 80px;
    background-image: url(banner1.jpg);
    opacity: 70%;
}
.jumbotron .container .heading{
    color:white;
    padding: 30px;
    font-size: 34px;
    font-family: orkney-bold;
    font-weight: 700;
}
.top{
    margin:30px 120px;
    text-align: center;
    padding:10px;
    font-size:17px;
}
.top .p1{
    color:orange;
    padding-bottom:8px;
}
.top .p2{
    color:darkgrey;
}
.col-7  p{
     font-size:17px;
     color:darkgrey;
     padding-top:30px;
}
.container .row .cl1{
    margin-right:80px;
}
.container .row .cl1 .i2{
    margin-top:150px;
}
.container .row .cl2{
    border-left:4px dashed darkgrey;
    padding-left:70px;
}
.container .row .cl2 .h1{
    font-size: 20px;
    font-family: orkney-bold;
    font-weight: 400;
}
.container .row .cl2 .h2{
    padding-top:30px;
    font-size: 20px;
    font-family: orkney-bold;
    font-weight: 400;
}
.container .row .cl2 .h3{
    padding-top:30px;
    font-size: 20px;
    font-family: orkney-bold;
    font-weight: 400;
}
.container .row .cl3 .i3{
    margin-top: 130px;
}
.container .row .cl2 .cl2-p1{
    font-size: 15px;
}
.container .row .cl2 .cl2-p2{
    font-size: 15px;
}
.container .row .cl2 .cl2-p3{
    font-size: 15px;
}